body {
    padding-top: 200px;
    text-align: center;
}

p {
    font-size: 24px;
}

a {
    border: none;
    display: inline-block;
    padding: 8px 24px;
    border-radius: 4px;
    border-bottom: 4px solid #3aa373;
    font-size: 20px;
    color: #fff;
    background-color: #4fc08d;
    outline: none;
    text-decoration: none;
}

#submit {
    margin-top: 20px;
}
